# General
yarn-error.log
node_modules
.DS_STORE
.vscode
tags
yarn.lock

# Foundry files
cache
out-via-ir

# Config files
.env

# Avoid ignoring gitkeep
!/**/.gitkeep

# Keep the latest deployment only
broadcast/*/*/*

# Out dir
out

# Smock dir
test/smock
